.navbar {
  background: #ad8350;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.collapse {
width: 300px !important;
  
}
#contentTopBar{
  width: 100%;  
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  flex-direction: row;
}
#contentTopBar img{
    margin-left: 20px;
}
.navbar-nav{
    margin-left: 1300px;
}

.enlace{
    color: #000000;
    text-decoration: none;
    font-size: 20px;

    margin-right: 40px;
    margin-left: 5px;  
}

#exit{
  cursor: pointer;
}

